<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Readers'</h1>
    <p class="text-white">シンプルな読書記録をつけて他のユーザーと共有することができる読書記録SNSです。
      <br>また、検索機能を使い他のユーザーの読書記録を参考にして新しい本を探すことができます。
      <br>読書記録をつける際、ユーザーがジャンルやキーワードなどを自由にタグ付けできるので、より的を絞った検索が可能です。
    </p>
    <div class="row">
      <div class="offset-md-3 col-md-3">
        <%= link_to 'Sign in', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', login_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>