h1 {
  font-weight: 100;
  font-family: "Apple Chancery", "cursive";
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('study.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-hero-container {
  padding-top: 160px;
  
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  p {
    font-weight: 400;
    margin-bottom: 90px;
  }
}


.form-control {
  height: 45px;
}

.form-control-file {
  width: 350px;
  color: #fff;
}

.users-new-wrapper {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  background-image: image-url('books.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  .entry-form {
    margin-top: 40px;
    margin-bottom: 40px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar {
  height: 65px;
  background-color: rgba(0,0,0,0.5);
  
  .navbar-brand {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
  }
  
  .navbar-nav {
    width: 680px;
    
    a {
      color: #fff;
      margin: 30px;
    }
    
    #search-box {
      margin-left: 50px;
    }
  }
}

.topic-new-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  background-image: url('book.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  .topic-new-contents {
    margin-top: 70px;
    
    #topic_image {
      color: #fff;
      font-weight: 600;
    }
    
    .book-info {
      width: 100%;
    }
  }
}

.user-top-wrapper {
  padding-bottom: 40px;
  background-color: #fafafa;
  
  .user-page-profile {
    height: 220px;
    margin-top: 80px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 20px;
    }
    
    #follow-form {
      width: 100px;
      margin-top: 10px;
    }
    
    .user-info {
      width: 250px;
      margin-left: 25px;
      
      p {
        margin-bottom: 5px;
        margin-left: 20px;
      }
      
      .notice-icon {
        margin-left: 10px;
        margin-right: 15px;
      }
      
      .list-element {
        margin-left: 48px;
      }
    }
    
    .link-element {
      margin-top: 50px;
      
      #followers {
        margin-left: 40px;
        margin-right: 40px;
      }
      
      .all-likes {
        margin-left: 40px;
      }
    }
  }
  
  .user-page-topics {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .topics-single {
      padding-top: 15px;
      padding-bottom: 15px;
      
      img {
        width: 100%;
      }
    }
  }
}

.all-follow {
  padding-top: 150px;
  
  .follow-single {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 5px;
    }
    
    .follow-btn {
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }
}

.topic-wrapper {
  height: 100vh;
  background-color: #fafafa;
  
  .topic-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 150px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .user-contents {
      margin-left: 20px;
      
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      
      .user-name {
        font-size: 1.5em;
        font-weight: bolder;
        margin-left: 5px;
      }
      
      .time-stamp {
        margin-left: 20px;
      }
    }
    
    .topic-contents {
      
      img {
        width: 25%;
        margin: 20px 30px 20px 20px;
      }
      
      .book-info {
        width: 610px;
        margin-top: 20px;
        .book-tittle {
          padding-top: 10px;
        }
        .book-author {
          margin-top: 16px;
        }
        .hashname {
          margin-top: 16px;
          height: 100px;
        }
        
        .edit-icon {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
    
    .topic-text {
      margin: 10px 20px 10px 20px;
    }
  }
}

.topics-wrapper {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #fafafa;
  
  .topics-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .user-contents {
      margin-left: 20px;
      
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      
      .user-name {
        font-size: 1.5em;
        font-weight: bolder;
        margin-left: 5px;
      }
      
      .time-stamp {
        margin-left: 20px;
      }
    }
    
    .topic-contents {
      
      img {
        width: 25%;
        margin: 20px 30px 20px 20px;
      }
      
      .book-info {
        width: 610px;
        margin-top: 20px;
        
        .book-tittle {
          padding-top: 10px;
        }
        
        .book-author {
          margin-top: 16px;
        }
        
        .hashname {
          margin-top: 16px;
          height: 100px;
        }
      }
    }
    
    .topic-text {
      margin: 10px 20px 10px 20px;
    }
  }
}

.fa-red {
  color: red;
}

.n-circle {
  padding-left: 1.5rem;
  padding-top: 0.3rem;
  color: #efa04c;
}

.notifications-wrapper {
  padding-top: 100px;
}

.notification-single {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: solid 1px #d3d3d3;
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.books-search-wrapper {
  padding-top: 100px;
}

.book-show-wrapper {
  padding-top: 100px;
}